@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gjs-resizer-h-tc, .gjs-resizer-h-bc {
  width: 15px !important;
  height: 15px !important;
  background-color: #3b97e3 !important;
  cursor: pointer !important;
}

.gjs-resizer-h-tc::before, .gjs-resizer-h-bc::before {
  color: #fff;
  content: "\002B";
  font-size: 20px;
  position: relative;
  top: -11px;
  left: -1.5px;
  font-style: initial;
}

.modal-row {
  display: flex;
  flex-wrap: wrap;
}

.modal-column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.modal-column img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-container {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .modal-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .modal-column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Additional CSS for buttons */
.btn-light {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.btn-light:hover {
  background-color: #e2e6ea;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}

.panel__top {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
}

.panel__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust spacing between buttons */
}

.custom-template-selector, .btn.btn-success {
  margin: 0; /* Reset margin */
  float: right;}

.gjs-pn-panel.gjs-pn-options.gjs-one-bg.gjs-two-color {
  display: flex;
  margin-right: 150px;
  justify-content: center; /* Center items in this container */
  align-items: center;
  padding: 2px;
}

.gjs-pn-buttons {
  float: right;
  display: flex;
  gap: 1px;
}

.gjs-devices-c .gjs-device-label .gjs-pn-devices-c {
  display: none;
}

.centered-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px; 
}


#exemple-editor .gjs-cv-canvas {
  background: #1b1b1b !important;
  padding: 10px 0 !important;
  margin: auto !important;
  max-width: 800px !important;
}

.pdf-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;}

.button-container {
  margin-bottom: 20px;
  height: 50px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-print {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-back {
  background-color: #f8f9fa;
  color: black;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-print:hover, .btn-back:hover {
  opacity: 0.8;
}

.cv-content {
  margin: 0 auto;
  width: 80%;
}
/* Additional styles for injected content */
.exp-content {
  color: black; /* Ensure text color is visible */
  /* Add more styles as needed */
}
.rb-left {
  color: black; /* Ensure text color is visible */
  /* Add more styles as needed */
}

  /* Explicitly retain colors and other styles */
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /* Firefox */
  }


